/* Error: expected ";".
 *    ,
 * 33 |     .todo{@include margin (20px, 20px)
 *    |                                       ^
 *    '
 *   scss\general\_home.scss 33:39  @import
 *   scss\style.scss 8:10           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 33 \2502      .todo{@include margin (20px, 20px)\d\a    \2502                                        ^\a    \2575 \a   scss\\general\\_home.scss 33:39  @import\a   scss\\style.scss 8:10           root stylesheet';
}
