* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(219, 197, 202);
}

.principal {
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    margin: 10px;
    margin-top: 60px;
    
}


header img {
    display: flex;
    align-items: center;
    width: 350px;
    height: 200px;

}


.color-Rosa{background-color: rgb(219, 197, 202); color: rgb(219, 197, 202);}

.imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    gap: 40px;
}


.sec-mujer {
    justify-content: center;
    object-fit: cover;

    ;
}

.sec-hom {
    justify-content: center;
    object-fit: cover;

    ;
}

.sec-acc {
    justify-content: center;
    object-fit: cover;
}


p {
    display: flex;
    color: rgb(161, 46, 83);
    font-size: 24px;
    text-align: center;
    font-style: inherit;
    text-transform: uppercase;
    justify-content: center;
    margin: 5%;
}

h1 {
    color: rgb(138, 31, 65);
    text-align: center;
    text-transform: uppercase;
}

.medio{justify-content: center; overflow: hidden;;}
.todo {
    margin: 20px;
    padding: 20px;
    
}
.text{font-size: large;}
.h5{font-size: larger;}
.tipos {
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30%;
    font-style: initial;
    padding: 20px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}

footer {
    display: flex;
    background-color:black;
   
 
}

footer a {
    text-decoration: none;
}


.titulo-footer{font-size: 16px;}

.letra{font-size: 10px;color: rgb(206, 201, 195);}
.direccion{display: grid;
grid-template-columns: repeat(3,1fr); justify-content: center; align-items: center;} 

/*pagina de mujer*/

.home {
    display: flex;
    color: black;
    list-style: none;
    text-decoration: none;
}

.HomeM {
    padding: 10PX;
    margin-top: 10px;
    background-color: black;
}

body {
    text-align: center;
}

.ropa-mujer {
    color: coral;
    font-size: 4em;
}
.textM{color: coral;}

.redes {
    color: crimson;
    text-align: center;
}

.titulosm {
    color: dimgrey;
    text-align: center;
}

.ImagenesM {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    gap: 90px;
    ;
}
.catalogo{
    width: 100%;
    display: grid;
grid-template-columns: repeat(3, 1fr);


}
.producM img{
    width: 220px;
    height: 280px;
    border-radius: 30px;


}
.producM p{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
}
.piemujer {
    text-transform: capitalize;
    font-size: 2em;
    color: coral;
}

.espacio{ gap: 2em;}


/*pagina hombre*/

.PagesH {
    background-color: rgb(194, 194, 233);
}

.HomeH {
    padding: 20PX;
    background-color: black;
}

.hombre {
    color: blue;
    text-align: center;
    font-size: 4em;
}

.titulosh {
    color: dimgrey;
    text-align: center;
    margin-bottom: 0%;
}

 .poster img{ width:100% ;
height: 100%;
overflow: hidden;
object-fit: cover;}
main{width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.poster{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 50%;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 10%;
    
}
.img-3 {grid-column: span 2 ;
    
}


.todoH {
    color: blue;
    
}
.todohom{background-color: black
    ;margin-bottom: 5%;
}
.piehombre {
    text-align: center;
    text-transform: capitalize;
    color: rgb(138, 31, 65);
    font-size: 2em;
}

/*.instah{font-size: 1em;text-align:left; text-transform:lowercase; font-size: large;}*/
/*.nos{ text-align: left; font-style: italic;}*/




/*accesorios*/
.acccesorios {
    color: rgb(145, 33, 98);
    text-align: center;
    font-size: 4em;
}

.titulosa {
    color: gray;
    text-align: center;
}

.acccesorios{font-size: large;}






/*nosotros*/


.nosotros {
    color: rgb(70, 17, 25);
    text-align: center;
    font-size: 4em;
}

.titulosn {
    color: rgb(27, 48, 68);
    text-align: center;
}
.informacion{ display: flex;
gap: 1rem; justify-content: center; align-items: center; text-align: center;}

/*estilo para tablet HOME*/

@media screen and (max-width: 990px) {
    nav ul {
        gap: 100px;
        align-items: center;
    }

    div {
        overflow: hidden
    }

    

    .sec-acc{
        display: none;
    }
    .catalogo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}

/* estilo para movile HOME*/
@media screen and (max-width: 600px) {
    header .home{height: 25vh;}
    p {
        font-size: small;
    }

    .sec-hom {
        display: block;
    }

    .imagenes {
        display: grid;
        grid-template-columns: 1fr;
        height: 110vh;
    }

    .text {
        font-size: medium;
    }

    .contenedor {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 6 ;
    }

    .direccion{ display: grid;
    grid-template-columns: repeat(1, 1fr);}

}

/* estilo para movile MUJER*/
@media screen and (max-width: 600px) {
.ropa-mujer{font-size: x-large;}
   
    .ImagenesM{ display: grid; gap: 10px;}
    .textM{font-size: medium;}
    
}
/*estilo para movile HOMBRE*/

@media screen and (max-width: 600px){
    .HomeH{margin-top: 10px; 
   }
   .hombre{font-size: x-large;}
   .todoH{ font-size: large;}
   .informacion{display: grid;
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(3,1fr);
gap: 1rem;}
}

